.delete_card_Activiy {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 12px 0 0;
  color: rgb(193, 62, 62);
  cursor: pointer;
}
.grid_text .grid__title--transform
{
  margin-left: 20px;
}
.grid_text p {
  margin-left: 12px;
  font-size: 12px;
}
.update_card_activity {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px 14px 4px 0;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.container_activity {
  position: relative;
  padding: 4px;
  width: 250px;
  height: 150px;
  background: rgba(5, 4, 4, 0);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(245, 242, 242, 0.1);
  backdrop-filter: blur(110px);
  -webkit-backdrop-filter: blur(110px);

  border: 1px solid rgb(61, 5, 134);
}
.container_activity li {
  list-style: none;
}
.container_Activities {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 14rem), 1fr));
  grid-auto-rows: 10rem;
}
.container_activity h2 {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgb(244, 179, 179);
  margin-bottom: 8px;
  font-family: "Slabo 27px", serif;
  padding: 4px;
}
.container_activity li span {
  font-weight: bold;
  margin-right: 2px;
  margin-left: 4px;
  color: rgb(163, 111, 147);
}
.container_activity li .active {
  color: rgb(212, 175, 55);
}
.container_activity .type_activity {
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
}
.container_activity .type_season span {
  margin-right: 16px;
}
.container_activity .type_activity span {
  color: rgb(163, 111, 147);
  font-weight: bold;
}
.addFavorite {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px;
  cursor: pointer;
}

.isFavorited {
  color: red;
}
.invalidDelete {
  display: none;
}
