.countries_detail {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.update_card_activity {
  margin: 0px 6px 4px 0;
}
.container_detail figure img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  opacity: 0.8;
  margin-right: 8px;
}
.container_detail figure img:hover {
  opacity: 1;
  transition: all 0.8s;
}

.container_detail {
  display: flex;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid black;
  height: 220px;
  border: 1px solid black;
  background: rgba(5, 4, 4, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(245, 242, 242, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgb(71, 3, 3);
}
.addActivities {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(5, 4, 4, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(245, 242, 242, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgb(71, 3, 3);
  cursor: pointer;
}
.addActivities i {
  font-size: 40px;
  color: white;
}

.addActivities i:hover {
  font-size: 50px;
  animation-name: rotation;
  animation-duration: 0.5s;
  display: inline-block;
}
.container_information_country {
  margin: auto;
}
.container_information_country li {
  text-transform: uppercase;
  list-style: none;
  color: white;
  font-weight: bold;
}
.container_information_country ul li:first-child {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
}
.container_information_country ul b {
  font-weight: 900;
  font-family: "Slabo 27px", serif;
}
.container_googleMaps {
  margin: auto;
}
.container_googleMaps iframe {
  margin-top: 12px;
  padding: 4px;
  display: flex;
  margin-left: 24px;
}
.container_information_country ul li img {
  width: 40px;
  height: 40px;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  display: inline-block;
  border-radius: 50%;
}
.container_information_country ul li img:hover {
  width: 50px;
  height: 50px;
  transition: all 300ms;
}
.container_information_country ul li:last-child {
  text-align: center;
}
.section_activities h5 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 2px;
  box-shadow: 0 4px 30px rgba(245, 242, 242, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}
.section_favorities_Activities {
  margin-top: 28px;
}
.section_favorities_Activities h2 {
  text-align: center;
}
/* carrusel de cards favorites */
.container_favorities_Activities {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* button carrusel */
.container_favorities_Activities .carrusel_button {
  cursor: pointer;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  margin: 0 8px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(rgb(236, 126, 211), rgb(235, 51, 51));

  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(83, 55, 107, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_favorities_Activities .carrusel_button::before,
.buttonSubmitActivity::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #b12567;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.carrusel_button:hover,
.carrusel_button:focus,
.buttonSubmitActivity:hover,
.buttonSubmitActivity:focus {
  color: #313133;
  transform: translateY(-6px);
}
/* .carrusel_button:hover::before, .carrusel_button:focus::before {
  opacity: 1;
} */

.carrusel_button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ef0abe;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3s infinite;
}

.carrusel_button:hover::after,
.carrusel_button:focus::after,
.buttonSubmitActivity:hover::after,
.buttonSubmitActivity:focus:after {
  animation: none;
  display: none;
}
/* not activities */
/* .containerNotActivities {
} */
.notActivitesAdd {
  margin: auto;
}
.container_activity h2 {
  overflow: hidden;
  margin: 2px 28px;
}
.pruebita {
  overflow: hidden;
  white-space: nowrap;
}
.containerNotActivities img {
  width: 600px;
  height: 300px;
  margin: 16px;
  border-radius: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.containerNotActivities p,
.section_favorities_Activities h3,
.text_not_favorites_activities {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-shadow: -2px -2px 2px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
